body{
    margin: 0;
}
header{
    background-color: black;
    h1{
        color: white;
        text-align: center;
        margin: auto;
    }
    p{
         color: white;
         text-align: center;
    }
    .button1{
        padding: 10px;
        background-color: orange;
        border-radius: 10px;
        text-decoration: none;
        color: white;
    }
    .button2{
        padding: 10px;
        background-color: rgb(184, 201, 203);
        border-radius: 10px;
        text-decoration: none;
        color: white;
    }
}
.icon1{
    display: flex;
    justify-content: center;
}
.buttons{
    display: flex;
    justify-content: center;
    gap: 10px;
}
main{
   
    background-color: rgb(133, 139, 137);
     h1{
    text-align: center;
    color:white;

}
   
}
.container{
    display:flex;
    flex-wrap: wrap;
}
.card{
    width: 200px;
    border: 5px solid;
    border-radius: 20px;
    
}
.icon{
    width: 20px;
}